{% macro repoBlock(label, description, list) %}
<div class='bfx-oss-docs-library-category-block'>
  <div class='bfx-oss-docs-library-category-block__left'>
    <div class='bfx-oss-docs-library-category-block__label'>
      {{ label }}
    </div>
    <div class='bfx-oss-docs-library-category-block__description'>
      <p>{{ description }}</p>
    </div>
  </div>
  <ul class='bfx-oss-docs-library-category-block__list'>
    {{ list }}
  </ul>
</div>
{% endmacro %}
