{% from 'macros/widgets/teaser/logo_icon_row.njk' import logoIconRow %}
{% from 'macros/widgets/code_snippet.njk' import codeSnippet %}

{% macro teaser(data={}) %}
<div id="bfx-oss-docs-home-teaser">
<div id="bfx-oss-docs-home-teaser__top">
  <div id="bfx-oss-docs-home-teaser__left">
    <p id="bfx-oss-docs-home-teaser__left_title">{{ data.title }}</p>
    <p id="bfx-oss-docs-home-teaser__left_subtitle">{{ data.subtitle }}</p>
    <p id="bfx-oss-docs-home-teaser__left_text">{{ data.text }}</p>
    <div id="bfx-oss-docs-home-teaser__left_list">
      {% for offering in data.offerings %}
        <p>&bull; {{ offering }}</p>
      {% endfor %}
    </div>
    <div id="bfx-oss-docs-home-teaser__left_extra">
      {{ logoIconRow('Languages', data.language_icons) }}
      {{ logoIconRow('Technologies', data.technology_icons) }}
    </div>
  </div>
  <div id="bfx-oss-docs-home-teaser__right">
    {{ codeSnippet('order.js') }}
    {{ codeSnippet('indicator.js') }}
    {{ codeSnippet('strategy.js') }}
  </div>
</div>
{% endmacro %}
