{% from 'macros/widgets/teaser.njk' import teaser as teaser %}
{% from 'macros/widgets/section.njk' import section as section %}

{% set page_title = 'Bitfinex Open Source' %}

{% extends 'layouts/base.njk' %}

{% block body %}
{{ teaser({
  title: 'Bitfinex Open Source :rocket:',
  subtitle: 'Frameworks &amp; libraries in a variety of languages',
  text: [
    'Build distributed systems, leverage the Bitfinex API, automate your',
    'trading and more, all via a unified approach.'
  ].join(' '),

  offerings: [
    "Multiple Bitfinex API Interfaces",
    "Libraries and utlities for building distributed systems",
    "Fast &amp; lightweight JS Financial Charting Library",
    "Native JS Library with 45+ Trading Indicators",
    "Full-featured strategy library with backtest support",
    "Algorithmic order framework with 7 built-ins",
    "UI components for modern trading terminals"
  ],

  language_icons: [
    "logos/nodejs-icon.svg",
    "logos/python.svg",
    "logos/ruby.svg",
    "logos/gopher.svg"
  ],

  technology_icons: [
    "logos/react.svg",
    "logos/lodash.svg",
    "logos/postgresql.svg",
    "logos/redis.svg"
  ]
}) }}

{% include 'widgets/home/section_chart.njk' %}
{% endblock %}
