{% set page_title = 'Bitfinex Open Source' %}

{% extends 'layouts/base.njk' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/index.css" />
{% endblock %}

{% block body %}
<div id="bfx-oss-docs-readmeio-header">
</div>

<div id="bfx-oss-docs-readmeio-wrapper">
  <div id="bfx-oss-docs-readmeio__sidebar">
  </div>

  <div id="bfx-oss-docs-readmeio__content">
    <div class="bfx-oss-docs-readmeio-block">
      <div class="bfx-oss-docs-readmeio-block__left">
        <h2 class="bfx-oss-docs-readmeio-block__title">Funding Info</h2>
        <p class="bfx-oss-docs-readmeio-block__subtitle">Get account funding info</p>
        <div class="bfx-oss-docs-readmeio-block__fields">
          {% markdown %}
          **Stream Fields**

          Term | Type | Description
          -- | -- | --
          SYMBOL | string  |  The symbol the information pertains to (funding currencies)
          YIELD_LOAN |  float  |  Weighted average rate for taken funding
          YIELD_LEND |  float  | Weighted average rate for provided funding
          DURATION_LOAN |  float  |  Weighted average duration for taken funding
          DURATION_LEND |  float  | Weighted average duration for provided funding
          {% endmarkdown %}
        </div>
        <div class="bfx-oss-docs-readmeio-block__callout info">
          <p class="bfx-oss-docs-readmeio-block__callout-title">NOTE</p>
          <p class="bfx-oss-docs-readmeio-block__callout-body">
            These messages have gained the ability to send the calculation values
            equal to "null" meaning that the new calculated value is not yet
            available.

            In order to receive those values the user have to actively request for
            it with a "calc" message. See calc input dedicated section for more
            details."
          </p>
        </div>
      </div>
      <div class="bfx-oss-docs-readmeio-block__right">
        <div class="bfx-oss-docs-readmeio-block__code">
          <p>Update ('fiu')</p>
          <pre>
[
  CHAN_ID,
  'fiu',
  [
    'sym',
    SYMBOL
    [
      YIELD_LOAN,
      YIELD_LEND,
      DURATION_LOAN,
      DURATION_LEND,
      ...
    ],
    ...
  ]
]
          </pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
