{% from 'macros/api_docs/endpoint_doc_block.njk' import endpointDocBlock %}
{% set page_title = 'Bitfinex Open Source' %}
{% extends 'layouts/base.njk' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/highlightjs/ir-black.css" />
{% endblock %}

{% block body %}
<div id="bfx-oss-docs-readmeio-header">
</div>

<div id="bfx-oss-docs-readmeio-wrapper">
  <div id="bfx-oss-docs-readmeio__sidebar">
    <ul>
      <li class="bfx-oss-docs-readmeio__sidebar-divider">
        <p>Websocket Authenticated Channels</p>
      </li>
      <li class="bfx-oss-docs-readmeio__sidebar-label">
        <p>Funding Info</p>
      </li>
    </ul>
  </div>

  <div id="bfx-oss-docs-readmeio__content">
    {% set title = 'Funding Info' %}
    {% set subtitle = 'Get account funding info' %}
    {% set fields %}
**Stream Fields**

Term | Type | Description
-- | -- | --
SYMBOL | string  |  The symbol the information pertains to (funding currencies)
YIELD_LOAN |  float  |  Weighted average rate for taken funding
YIELD_LEND |  float  | Weighted average rate for provided funding
DURATION_LOAN |  float  |  Weighted average duration for taken funding
DURATION_LEND |  float  | Weighted average duration for provided funding
    {% endset %}
    {% set resLabel = "Update ('fiu')" %}
    {% set resSample %}
[
  CHAN_ID,
  'fiu',
  [
    'sym',
    SYMBOL
    [
      YIELD_LOAN,
      YIELD_LEND,
      DURATION_LOAN,
      DURATION_LEND,
      ...
    ],
    ...
  ]
]
    {% endset %}
    {% set notice %}
These messages have gained the ability to send the calculation values
equal to "null" meaning that the new calculated value is not yet
available.

In order to receive those values the user have to actively request for
it with a "calc" message. See calc input dedicated section for more
details.
    {% endset %}

    {{ endpointDocBlock(title, subtitle, fields, resLabel, resSample, notice) }}
  </div>
</div>
{% endblock %}
