<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css" />
    <link rel="stylesheet" type="text/css" href="css/highlightjs/night-owl.css" />
    <link rel="stylesheet" type="text/css" href="index.css" />

    {% block head %}{% endblock %}

    <title>{% block page_title %}{% endblock %}</title>
  </head>
  <body>
    <div id="bfx-oss-docs-side-bar">
      <div id="bfx-oss-docs-side-bar__header">
        <img
          src="img/bfx-logo-bg-white.png"
          alt="Bitfinex"
          height="63"
        />
      </div>

      <ul>
        {% for p in pages %}
        {% if p.index %}
        {# library pages #}
        {% if p.library %}
        <li
          {% if p.library === page.library %}
          class="active"
          {% endif %}
        >
          <a href="{{ p.fn }}">
            {% if p.language === 'js' %}
            <img src="svg/icons/nodejs_small.svg" />
            {% elseif p.language === 'rb' %}
            <img src="svg/icons/ruby.svg" />
            {% elseif p.language === 'py' %}
            <img src="svg/icons/python.svg" />
            {% elseif p.language === 'go' %}
            <img src="svg/icons/go.svg" />
            {% endif %}

            <p>{{ p.library }}</p>
          </a>

          {% if p.library === page.library %}
          <ul>
            {% for child in pages %}
            {% if child.library === page.library %}
            <li
              {% if child.fn === page.fn %}
              class="active"
              {% endif %}
            >
              <a href="{{ child.fn }}"><p>- {{ child.label }}</p></a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% else %}{# end library pages #}
        <li
          {% if p.fn === page.fn %}
          class="active"
          {% endif %}
        >
          <a href="{{ p.fn }}">
            <p>{{ p.label }}</p>
          </a>
        </li>
        {% endif %} {# end page type switch #}
        {% endif %} {# end index check #}
        {% endfor %}
      </ul>
    </div>

    <div id="bfx-oss-docs-content">
      <div id="bfx-oss-docs-header-bar">
        {% block header %}{% endblock %}
      </div>

      {% block content %}{% endblock %}

      <!--
      <div id="bfx-oss-docs-footer-bar">
        <div id="bfx-oss-docs-footer-bar__container">
          <p>Copyright © 2013-2020 iFinex Inc. All rights reserved.</p>
        </div>
      </div>
      -->
    </div>

    <script type="text/javascript" src="js/vendor/debug.min.js"></script>
    <script type="text/javascript" src="js/vendor/lodash.min.js"></script>
    <script type="text/javascript" src="js/vendor/zepto.min.js"></script>
    <script type="text/javascript" src="js/vendor/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
