{% extends 'layouts/base.njk' %}

{% block page_title %}
{{ page.data.menuTitle }} | {{ page.library }}
{% endblock %}

{% block header %}
<h2>{{ page.data.menuTitle }}</h2>
<h2>{{ page.library }}</h2>
{% endblock %}

{% block sidebar %}
<div
  class="bfx-oss-docs-side-bar__sub-menu"
  id="bfx-oss-docs-side-bar__api-reference-menu"
>
  <ul>
    {% for p in pages %}
    {% if p.index %}
    <li
      {% if p.library === page.library %}
      class="active"
      {% endif %}
    >
      <a href="/{{ p.fn }}">
        {% if p.language === 'js' %}
        <img src="/svg/icons/nodejs_small.svg" />
        {% endif %}

        <p>{{ p.library }}</p>
      </a>

      {% if p.library === page.library %}
        <ul>
          {% for child in pages %}
          {% if child.library === page.library %}
          <li
            {% if child.fn === page.fn %}
            class="active"
            {% endif %}
          >
            <a href="{{ child.fn }}"><p>- {{ child.data.menuTitle }}</p></a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div
  id="bfx-oss-docs-content-wrapper"
  class="bfx-oss-docs-content-type-api-docs"
>
  <div class="bfx-oss-docs-md-content bfx-oss-docs-code-wrapper">
    {{ page.html | safe }}
  </div>
</div>
{% endblock %}
