{% extends 'layouts/base.njk' %}

{% block page_title %}
{{ page.data.menuTitle }} | {{ page.library }}
{% endblock %}

{% block header %}
<h2>{{ page.data.menuTitle }}</h2>
<h2>{{ page.library }}</h2>
{% endblock %}

{% block content %}
<div
  id="bfx-oss-docs-content-wrapper"
  class="bfx-oss-docs-content-type-api-docs"
>
  <div class="bfx-oss-docs-md-content bfx-oss-docs-code-wrapper">
    {{ page.html | safe }}
  </div>
</div>
{% endblock %}
