{% extends 'layouts/base.njk' %}

{% block page_title %}
{{ page.label }}
{% endblock %}

{% block header %}
<h2>{{ page.label }}</h2>
{% endblock %}

{% block content %}
<div id='bfx-oss-docs-content-wrapper'>
  <div class="bfx-oss-docs-md-content bfx-oss-docs-code-wrapper">
    {{ page.html | safe }}
  </div>
</div>
{% endblock %}
