node_modules
.idea
./build
npm-debug.log
.DS_Store
todo
package-lock.json
.env
coverage
.nyc_output
tags
Session.vim
.undodir
yarn-error.log
notes
tmp.sh
.jsdoc-merged.json
!./dist/jsdoc/.keep
!./dist/site/.keep
dist/site
dist/jsdoc
!./data/.keep
data
