.bfx-oss-docs-md-content {
  details > summary:first-of-type {
    list-style-type: none;
  }

  ::-webkit-details-marker {
    display: none;
  }

  summary {
    outline: none;
    user-select: none;
    cursor: pointer;
  }

  details > summary .details-marker {
    margin-right: 8px;

    &::before {
      content: "\25BA";
    }
  }

  details[open] > summary .details-marker::before {
    content: "\25BC";
  }

  details > *:not(summary) {
    padding-left: 8px;
  }
}
