// @import 'reset-css/sass/_reset.scss';

@import './variables.scss';

@import './fonts/cabin.scss';
@import './fonts/merriweather.scss';
@import './fonts/ibm_plex_mono.scss';

@import './pygments_themes/ayu/ayu';

body {
  background: $bg-light;
  color: $fg;
  font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headers;
}

p, a, input, button, textarea {
  font-family: $font-body;
}

code {
  font-family: $font-code;
}

@import './widgets/code.scss';
@import './widgets/code_demo.scss';
@import './widgets/content_wrapper.scss';
@import './widgets/footer_bar.scss';
@import './widgets/header_bar.scss';
@import './widgets/logo_icon_row.scss';
@import './widgets/readme.scss';
@import './widgets/library_stats.scss';

@import './home/section.scss';
@import './home/teaser.scss';
@import './home/blocks.scss';
