$bg-light: #273640;
$bg-dark: #1b262d;
$border: #19232a;
$fg: #a2a7aa;

$text-title: #fff;
$content-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);

$font-headers: 'Merriweather', serif;
$font-body: 'Cabin', sans-serif;
$font-code: 'IBM Plex Mono', monospace;
