@import '../variables.scss';

.bfx-oss-docs-api-reference-sample-viewer {
  background: $color-bg-api-ref-sample-viewer;

  p {
    margin: 0;
  }

  ul {
    list-style-type: none;
  }

  .bfx-oss-docs-api-reference-sample-viewer__header {
    margin-top: 32px;

    li {
      display: flex;
      flex-direction: row;

      &:last-child {
        padding-bottom: 0;
      }

      &:hover {
        border-left: 8px solid $color-border-api-ref-sample-viewer-header-menu-item-hover;
        cursor: pointer;

        p {
          background: rgba(0, 0, 0, 0.05);
          font-style: normal;
          opacity: 1 !important;

          &:first-child {
            padding-left: 8px;
          }
        }
      }

      &.active {
        border-left: 8px solid $color-border-api-ref-sample-viewer-header-menu-item-active;

        p:first-child {
          padding-left: 8px;
        }
      }

      &:not(.active) p {
        opacity: 0.6;
      }

      p {
        line-height: 24px;
        font-size: 12px;
        margin: 0;

        border-bottom: 1px solid $color-border-api-ref-sample-viewer-header-menu-item;

        &:first-child {
          padding-left: 16px;
          width: 100%;
          flex: 1;
        }

        &:last-child {
          padding-right: 16px;
          text-transform: uppercase;
          font-weight: bold;
        }
      }

      &:first-child p {
        border-top: 1px solid $color-border-api-ref-sample-viewer-header-menu-item;
      }
    }
  }

  .bfx-oss-docs-api-reference-sample-viewer__content {
    > li {
      &:not(.active) {
        display: none;
      }

      .bfx-oss-docs-api-reference-sample-viewer__sample {
        font-size: 12px;
        line-height: 1.3;

        pre {
          font-family: $font-code;
          margin: 0;
        }
      }
    }
  }
}
