@import '../variables.scss';

.bfx-oss-docs-widget-code-demo__wrapper {
  display: flex;
  flex-direction: row;

  .bfx-oss-docs-widget-code-demo__left {
    width: 60%;
    margin-right: 32px;
  }

  .bfx-oss-docs-widget-code-demo__right {
    width: calc(40% - 32px);
  }

  .bfx-oss-docs-widget-code-demo__code .bfx-oss-docs-code {
    display: flex;
  }

  .bfx-oss-docs-widget-code-demo__desc {
    font-size: 16px;
    line-height: 1.3;
    color: $text-title;
  }
}
