@import '../variables.scss';

#bfx-oss-docs-footer-bar {
  width: 100%;
  border-top: 1px solid $color-border-footer-bar;

  #bfx-oss-docs-footer-bar__container {
    margin: 32px auto;
    text-align: center;

    p {
      font-size: 14px;
      color: $color-fg-footer-bar;
      margin: 0;
    }
  }
}
