#bfx-docs-footer {
  padding: 32px 0 16px 0;
  width: 100%;

  #bfx-docs-footer__container {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    p {
      color: #eee;
      font-size: 12px;
    }
  }
}
