@import './variables.scss';

#bfx-footer-bar {
  padding: 32px 0 16px 0;
  width: 100%;

  #bfx-footer-bar__container {
    border-top: 1px solid $border;

    margin: 32px auto 0 auto;
    padding-top: 24px;
    text-align: center;
    max-width: 1280px;

    p {
      color: $text-faded;
      font-size: 12px;
    }
  }
}
