@import '../variables.scss';

#bfx-oss-docs-header-bar {
  position: fixed;
  top: 0;
  left: $size-sidebar-width;

  padding: 0 32px 0 32px;
  line-height: $size-header-bar-height;
  height: $size-header-bar-height - 1px;
  width: calc(100% - 64px - #{$size-sidebar-width});

  color: $color-fg-header-bar;
  background: $color-bg-header-bar;
  border-bottom: 1px solid $color-border-layout;

  z-index: $z-index-middle; // sidebar is top, due to box shadow

  display: flex;
  flex-direction: row;

  h2 {
    width: 100%;
    font-weight: normal;
    font-size: 20px;

    &:last-child:not(:first-child) {
      text-align: right;
    }
  }
}
