.bfx-oss-docs-logo-icon-row {
  display: flex;
  flex-direction: row;

  p {
    max-width: 200px;
    min-width: 200px;
    text-align: left;
    line-height: 32px;
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0 16px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  li {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }
}

.bfx-oss-docs-logo-icon-row + .bfx-oss-docs-logo-icon-row {
  margin-top: 16px;
}

