@import '../variables.scss';

#bfx-oss-docs-side-bar {
  position: fixed;
  top: 0;
  left: 0;

  width: $size-sidebar-width;
  height: calc(100% - #{$size-header-bar-height} - 32px);

  padding-top: $size-header-bar-height + 16px;
  padding-bottom: 16px;

  background: $color-bg-sidebar;
  overflow-y: scroll;

  #bfx-oss-docs-side-bar__header {
    z-index: $z-index-top;

    position: fixed;
    top: 0;
    left: 0;

    width: $size-sidebar-width;
    border-bottom: 1px solid $color-border-layout;
    background: $color-bg;

    img {
      margin-left: 16px;
      display: block;
    }
  }

  ul {
    li {
      margin: 0 16px;
      opacity: 0.6;

      &.active {
        opacity: 1;

        > a {
          text-decoration: underline;
        }
      }

      a {
        height: 32px;
        line-height: 32px;
        font-size: 14px;
        display: inline-block;

        text-decoration: none;
        color: $color-fg-sidebar-links;

        > * {
          display: inline-block;
          vertical-align: middle;
        }

        img {
          height: 24px;
          width: 24px;
          margin-right: 8px;
        }

        p {
          margin: 0;

          &:first-child:last-child {
            margin-left: 32px;
          }
        }
      }

      ul {
        margin: 0 0 16px 16px;

        p {
          margin-left: 0 !important;
        }
      }
    }
  }
}
