{% from 'macros/widgets/teaser/svg_icon.njk' import svgIcon as svgIcon %}

<div id="bfx-header-bar">
  <div id="bfx-header-bar__container">
    <a href="https://bitfinex.com" target="_blank">
      <img alt="Bitfinex Logo" src="/svg/logo-dark-theme.svg" />
    </a>

    <p id="bfx-header-bar__title">
      Bitfinex Open Source Library Documentation
    </p>

    <a href="https://github.com/bitfinexcom" target="_blank" id="bfx-header-bar__github">
      {{ svgIcon('logos/github-icon.svg', 'View on Github') }}
    </a>
  </div>
</div>
