@import '../../variables.scss';

#bfx-oss-docs-side-bar #bfx-oss-docs-side-bar__api-reference-menu {
  margin-top: 16px;
  border-top: 1px solid #eee;
}

.bfx-oss-docs-api-reference-document {
  display: flex;
  flex-direction: row;

  &:last-child .bfx-oss-docs-api-reference-document__content {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    box-shadow: none;
  }

  .bfx-oss-docs-api-reference-document__content {
    padding: 32px;
    width: 100%;
    flex: 1;

    border-bottom: 1px solid $color-border-api-ref-document;

    .bfx-oss-docs-api-reference-document__header,
    .bfx-oss-docs-api-reference-document__wrapper {
      p {
        max-width: 80%;
        font-size: 16px;
        line-height: 1.5;

        > code {
          font-size: 14px;
          padding: 2px 4px;
          background: $color-bg-api-ref-document-p-code;
        }

        & > strong:first-child:last-child {
          display: block;
          margin-top: 32px;
          font-size: 20px;
          font-weight: normal;
        }
      }
    }

    .bfx-oss-docs-api-reference-document__header {
      h2 {
        font-weight: normal;
        display: inline-block;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid $color-border-api-ref-document-title;
      }
    }

    .bfx-oss-docs-api-reference-document__wrapper {
      > pre > code {
        padding: 16px;
      }
    }
  }

  .bfx-oss-docs-api-reference-document__sidebar {
    width: 350px;
    flex-shrink: 0;
    border-left: 1px solid $color-border-api-ref-document-sidebar;
  }
}
