@import '../../variables.scss';

#bfx-oss-docs-side-bar #bfx-oss-docs-side-bar__api-reference-menu {
  margin-top: 16px;
  border-top: 1px solid #eee;
}

.bfx-oss-docs-api-reference-document {
  display: flex;
  flex-direction: row;

  &:last-child .bfx-oss-docs-api-reference-document__content {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    box-shadow: none;
  }

  .bfx-oss-docs-api-reference-document__content {
    border-bottom: 1px solid $color-border-api-ref-document;
    width: 100%;
    flex: 1;

    .bfx-oss-docs-api-reference-document__header {
      h2 {
        font-weight: normal;
        display: inline-block;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid $color-border-api-ref-document-title;
      }
    }
  }

  .bfx-oss-docs-api-reference-document__sidebar {
    width: 350px;
    flex-shrink: 0;
    border-left: 1px solid $color-border-api-ref-document-sidebar;
  }
}
