{% from 'macros/widgets/chart.njk' import chart %}
{% from 'macros/widgets/section.njk' import section %}
{% from 'macros/widgets/code_demo.njk' import codeDemo %}

{% set chart_demo_description %}
Our charting library comes in at less than 12KB GZipped and supports all
indicators from `bfx-hf-indicators` and candle data compatible with
`bfx-api-node-models`. Rendering is performed via HTML5 Canvas using a
scrolling window of data, and a wrapping React component is provided for
integration.
{% endset %}

{% set chart_demo_result %}
{{ chart('100%', '100%') }}
{% endset %}

{% set content %}
{{ codeDemo(chart_demo_description, chart_demo_result, 'chart.js') }}
{% endset %}

{{ section('Financial Charting Library', content) }}
