@import '../variables.scss';

#bfx-oss-docs-content {
  margin-left: $size-sidebar-width;
  margin-top: $size-header-bar-height;
  border-left: 1px solid $color-border-layout;
}

#bfx-oss-docs-content-wrapper {
  padding: 32px;
}
