{% macro section(label, content) %}
<div class="bfx-docs-section">
  <div class="bfx-docs-section__header">
    {{ label }}
  </div>
  <div class="bfx-docs-section__content">
    {{ content }}
  </div>
</div>
{% endmacro %}
