@import './variables.scss';

.bfx-oss-docs-section {
  .bfx-oss-docs-section__header {
    width: 100%;
    text-align: center;
    padding: 24px 0 24px 0;
    margin-bottom: 32px;
    border-bottom: 1px solid $border;
  }
}

.bfx-oss-docs-section + .bfx-oss-docs-section {
  margin-top: 32px;
}
