@charset "UTF-8";
/* cabin-regular - latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/cabin/cabin-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Cabin"), local("Cabin-Regular"), url("/fonts/cabin/cabin-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/cabin/cabin-v14-latin-regular.woff2") format("woff2"), url("/fonts/cabin/cabin-v14-latin-regular.woff") format("woff"), url("/fonts/cabin/cabin-v14-latin-regular.ttf") format("truetype"), url("/fonts/cabin/cabin-v14-latin-regular.svg#Cabin") format("svg");
  /* Legacy iOS */
}
/* cabin-italic - latin */
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/cabin/cabin-v14-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Cabin Italic"), local("Cabin-Italic"), url("/fonts/cabin/cabin-v14-latin-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/cabin/cabin-v14-latin-italic.woff2") format("woff2"), url("/fonts/cabin/cabin-v14-latin-italic.woff") format("woff"), url("/fonts/cabin/cabin-v14-latin-italic.ttf") format("truetype"), url("/fonts/cabin/cabin-v14-latin-italic.svg#Cabin") format("svg");
  /* Legacy iOS */
}
/* cabin-700 - latin */
@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/cabin/cabin-v14-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Cabin Bold"), local("Cabin-Bold"), url("/fonts/cabin/cabin-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/cabin/cabin-v14-latin-700.woff2") format("woff2"), url("/fonts/cabin/cabin-v14-latin-700.woff") format("woff"), url("/fonts/cabin/cabin-v14-latin-700.ttf") format("truetype"), url("/fonts/cabin/cabin-v14-latin-700.svg#Cabin") format("svg");
  /* Legacy iOS */
}
/* cabin-700italic - latin */
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/cabin/cabin-v14-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Cabin Bold Italic"), local("Cabin-BoldItalic"), url("/fonts/cabin/cabin-v14-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/fonts/cabin/cabin-v14-latin-700italic.woff2") format("woff2"), url("/fonts/cabin/cabin-v14-latin-700italic.woff") format("woff"), url("/fonts/cabin/cabin-v14-latin-700italic.ttf") format("truetype"), url("/fonts/cabin/cabin-v14-latin-700italic.svg#Cabin") format("svg");
  /* Legacy iOS */
}
/* zilla-slab-regular - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Zilla Slab"), local("ZillaSlab-Regular"), url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.woff2") format("woff2"), url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.woff") format("woff"), url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.ttf") format("truetype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-regular.svg#ZillaSlab") format("svg");
  /* Legacy iOS */
}
/* zilla-slab-italic - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Zilla Slab Italic"), local("ZillaSlab-Italic"), url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.woff2") format("woff2"), url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.woff") format("woff"), url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.ttf") format("truetype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-italic.svg#ZillaSlab") format("svg");
  /* Legacy iOS */
}
/* zilla-slab-700 - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/zilla_slab/zilla-slab-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Zilla Slab Bold"), local("ZillaSlab-Bold"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700.woff2") format("woff2"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700.woff") format("woff"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700.ttf") format("truetype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700.svg#ZillaSlab") format("svg");
  /* Legacy iOS */
}
/* zilla-slab-700italic - latin */
@font-face {
  font-family: "Zilla Slab";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Zilla Slab Bold Italic"), local("ZillaSlab-BoldItalic"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.woff2") format("woff2"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.woff") format("woff"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.ttf") format("truetype"), url("/fonts/zilla_slab/zilla-slab-v5-latin-700italic.svg#ZillaSlab") format("svg");
  /* Legacy iOS */
}
/* ibm-plex-mono-regular - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("IBM Plex Mono"), local("IBMPlexMono"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.woff2") format("woff2"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.woff") format("woff"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.ttf") format("truetype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-regular.svg#IBMPlexMono") format("svg");
  /* Legacy iOS */
}
/* ibm-plex-mono-italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("IBM Plex Mono Italic"), local("IBMPlexMono-Italic"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.woff2") format("woff2"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.woff") format("woff"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.ttf") format("truetype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-italic.svg#IBMPlexMono") format("svg");
  /* Legacy iOS */
}
/* ibm-plex-mono-700 - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("IBM Plex Mono Bold"), local("IBMPlexMono-Bold"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.woff2") format("woff2"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.woff") format("woff"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.ttf") format("truetype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700.svg#IBMPlexMono") format("svg");
  /* Legacy iOS */
}
/* ibm-plex-mono-700italic - latin */
@font-face {
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("IBM Plex Mono Bold Italic"), local("IBMPlexMono-BoldItalic"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.woff2") format("woff2"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.woff") format("woff"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.ttf") format("truetype"), url("/fonts/ibm_plex_mono/ibm-plex-mono-v5-latin-700italic.svg#IBMPlexMono") format("svg");
  /* Legacy iOS */
}
html {
  height: 100%;
}

body {
  font-family: "Cabin", sans-serif;
  margin: 0;
  color: #333;
  height: calc(100% - 64px);
}

a {
  color: #007b39;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  background: #fff;
  border-spacing: 0;
  font-size: 14px;
}
table th, table td {
  font-family: "Cabin", sans-serif;
}
table th {
  padding: 8px 4px;
  border-top: 1px solid #9ece81;
  border-bottom: 1px solid #9ece81;
  border-right: 1px solid #9ece81;
  text-transform: uppercase;
  font-weight: normal;
}
table th:first-child {
  border-left: 1px solid #9ece81;
}
table thead, table tr:nth-child(2n) {
  background: rgba(0, 0, 0, 0.05);
}
table td {
  line-height: 1.5;
  padding: 4px 16px;
  border-bottom: 1px solid #9ece81;
  border-right: 1px solid #9ece81;
}
table td:first-child {
  border-left: 1px solid #9ece81;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
}

.bfx-oss-docs-code-wrapper pre {
  font-family: "IBM Plex Mono", monospace;
  font-size: 12px;
  line-height: 1.3;
  white-space: pre-wrap;
  word-break: break-word;
}
.bfx-oss-docs-code-wrapper pre .hljs-ln-numbers {
  user-select: none;
  color: #fff;
  border-right: 1px solid #fff;
  text-align: center;
  vertical-align: top;
  padding-right: 5px;
}
.bfx-oss-docs-code-wrapper pre code {
  padding: 16px;
  border-radius: 4px;
}

#bfx-oss-docs-content {
  margin-left: 300px;
  margin-top: 64px;
  border-left: 1px solid #007b39;
  min-height: 100%;
}

#bfx-oss-docs-content-wrapper {
  padding: 32px;
}

#bfx-oss-docs-side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100% - 64px - 32px);
  padding-top: 80px;
  padding-bottom: 16px;
  background: #fff;
  overflow-y: scroll;
}
#bfx-oss-docs-side-bar #bfx-oss-docs-side-bar__header {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-bottom: 1px solid #007b39;
  background: #fff;
}
#bfx-oss-docs-side-bar #bfx-oss-docs-side-bar__header img {
  margin-left: 16px;
  display: block;
}
#bfx-oss-docs-side-bar ul li {
  margin: 0 16px;
  opacity: 0.6;
}
#bfx-oss-docs-side-bar ul li.active {
  opacity: 1;
}
#bfx-oss-docs-side-bar ul li.active > a {
  text-decoration: underline;
}
#bfx-oss-docs-side-bar ul li a {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  color: #333;
}
#bfx-oss-docs-side-bar ul li a > * {
  display: inline-block;
  vertical-align: middle;
}
#bfx-oss-docs-side-bar ul li a img {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
#bfx-oss-docs-side-bar ul li a p {
  margin: 0;
}
#bfx-oss-docs-side-bar ul li a p:first-child:last-child {
  margin-left: 32px;
}
#bfx-oss-docs-side-bar ul li ul {
  margin: 0 0 16px 16px;
}
#bfx-oss-docs-side-bar ul li ul p {
  margin-left: 0 !important;
}

#bfx-oss-docs-header-bar {
  position: fixed;
  top: 0;
  left: 300px;
  padding: 0 32px 0 32px;
  line-height: 64px;
  height: 63px;
  width: calc(100% - 64px - 300px);
  color: #003a1b;
  background: #fff;
  border-bottom: 1px solid #007b39;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
#bfx-oss-docs-header-bar h2 {
  width: 100%;
  font-weight: normal;
  font-size: 20px;
}
#bfx-oss-docs-header-bar h2:last-child:not(:first-child) {
  text-align: right;
}

#bfx-oss-docs-footer-bar {
  width: 100%;
  border-top: 1px solid #eee;
}
#bfx-oss-docs-footer-bar #bfx-oss-docs-footer-bar__container {
  margin: 32px auto;
  text-align: center;
}
#bfx-oss-docs-footer-bar #bfx-oss-docs-footer-bar__container p {
  font-size: 14px;
  color: #555;
  margin: 0;
}

.no-api-doc-index #bfx-oss-docs-api-docs-index {
  display: none;
}

#bfx-oss-docs-api-docs-index {
  position: fixed;
  top: 64px;
  left: 300px;
  height: calc(100% - 64px);
  width: 399px;
  border-right: 1px solid #007b39;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner {
  padding: 0 16px 16px 16px;
  font-size: 14px;
  line-height: 1.5;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner a {
  color: #00401e;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner li.content-in-view-outer.bfx-oss-docs-api-docs-index-section {
  border-top-width: 8px;
  border-top-color: rgba(0, 0, 0, 0.1);
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner li.content-in-view-link {
  font-weight: bold;
  padding: 2px 16px 2px 64px;
  margin: 8px 0 8px -64px;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner code {
  font-size: 12px;
  background: rgba(0, 0, 0, 0.05);
  padding: 0px 4px;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner ul ul {
  margin-left: 0;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner ul ul ul {
  margin-left: 16px;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner ul li em:first-child {
  margin-top: 8px;
  display: block;
  font-style: normal;
  font-weight: bold;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner > ul:first-child > li:first-child > a:first-child {
  padding-top: 16px;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner > ul > li > a:first-child {
  padding-top: 32px;
  font-size: 16px;
  text-align: center;
  display: block;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner > ul > li > a:first-child + ul > li:first-child > a:first-child {
  margin-top: 16px;
  display: inline-block;
}
#bfx-oss-docs-api-docs-index #bfx-oss-docs-api-docs-index__inner > ul > li > ul > li > em:first-child ~ ul > li:not(:last-child) > ul {
  margin-bottom: 16px;
}

#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs:not(.no-api-doc-index) {
  padding-left: 432px;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p > a[id]:empty, #bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content .header-anchor:before {
  display: block;
  position: relative;
  top: -64px;
  visibility: hidden;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content table + p > strong:first-child:last-child {
  margin-top: 32px;
  display: block;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p + ul > li:first-child:last-child {
  font-size: 14px;
  line-height: 1.5;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p + ul > li:first-child:last-child a {
  color: #00401e;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p + ul > li:first-child:last-child > ul > li:not(:first-child) {
  margin-top: 8px;
  padding-top: 8px;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p + ul > li:first-child:last-child > ul > li > em:first-child {
  font-style: normal;
  font-weight: bold;
}
#bfx-oss-docs-content-wrapper.bfx-oss-docs-content-type-api-docs .bfx-oss-docs-md-content > p + ul > li:first-child:last-child > ul > li > em:first-child ~ ul > li:not(:last-child) > ul {
  margin-bottom: 8px;
}

.bfx-oss-docs-grouped-code-fence__container {
  margin: 20px;
  border: 1px solid #eee;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.bfx-oss-docs-grouped-code-fence__navigation-bar {
  padding: 0;
  margin: 0;
  user-select: none;
  border-bottom: 1px solid #eee;
  white-space: nowrap;
  width: 100%;
  overflow: auto;
}
.bfx-oss-docs-grouped-code-fence__navigation-bar li {
  display: inline;
  line-height: 32px;
  padding: 0 10px;
  position: relative;
}
.bfx-oss-docs-grouped-code-fence__navigation-bar li ~ li:before {
  content: "";
  height: 12px;
  width: 1px;
  background: #eee;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(-50% -50%);
}

.bfx-oss-docs-grouped-code-fence__fence-radio {
  display: none;
}
.bfx-oss-docs-grouped-code-fence__fence-radio:not(:checked) + pre {
  display: none;
}

.bfx-oss-docs-grouped-code-fence__label-radio {
  display: none;
}
.bfx-oss-docs-grouped-code-fence__label-radio:not(:checked) + label {
  opacity: 0.5;
}

.bfx-oss-docs-md-content > nav.bfx-oss-docs-md-toc {
  display: inline-block;
  border: 2px solid #007b39;
  border-radius: 4px;
  padding: 24px 32px 16px 16px;
  position: relative;
}
.bfx-oss-docs-md-content > nav.bfx-oss-docs-md-toc::before {
  content: "Table of Contents";
  top: -8px;
  position: absolute;
  background: #fff;
  font-size: 14px;
  padding: 0 8px;
}
.bfx-oss-docs-md-content > nav.bfx-oss-docs-md-toc ol {
  list-style-type: decimal;
  margin-left: 16px;
}
.bfx-oss-docs-md-content > nav.bfx-oss-docs-md-toc ol li > a {
  margin-bottom: 4px;
  display: block;
}
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index nav.bfx-oss-docs-md-toc {
  padding: 32px 0;
}

.bfx-oss-docs-md-content h1, .bfx-oss-docs-md-content h2, .bfx-oss-docs-md-content h3, .bfx-oss-docs-md-content h4, .bfx-oss-docs-md-content h5, .bfx-oss-docs-md-content h6 {
  font-weight: normal;
  white-space: pre-wrap;
  word-break: break-word;
}
.bfx-oss-docs-md-content h1 code, .bfx-oss-docs-md-content h2 code, .bfx-oss-docs-md-content h3 code, .bfx-oss-docs-md-content h4 code, .bfx-oss-docs-md-content h5 code, .bfx-oss-docs-md-content h6 code {
  font-family: "IBM Plex Mono", monospace;
  font-size: inherit;
}
.bfx-oss-docs-md-content h1 .header-anchor, .bfx-oss-docs-md-content h2 .header-anchor, .bfx-oss-docs-md-content h3 .header-anchor, .bfx-oss-docs-md-content h4 .header-anchor, .bfx-oss-docs-md-content h5 .header-anchor, .bfx-oss-docs-md-content h6 .header-anchor {
  margin-right: 0;
  opacity: 0.75;
}
.bfx-oss-docs-md-content h1, .bfx-oss-docs-md-content h2, .bfx-oss-docs-md-content h3 {
  margin: 24px 0;
}
.bfx-oss-docs-md-content h4, .bfx-oss-docs-md-content h5, .bfx-oss-docs-md-content h6 {
  margin: 16px 0;
}
.bfx-oss-docs-md-content h1 {
  font-size: 24px;
}
.bfx-oss-docs-md-content h2 {
  font-size: 20px;
  margin: 32px 0 16px 0;
}
.bfx-oss-docs-md-content h3 {
  margin-top: 32px;
}
.bfx-oss-docs-md-content h4 {
  font-size: 16px;
  margin-top: 32px;
}
.bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + h1, .bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + h2, .bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + h3, .bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + h4, .bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + hh5, .bfx-oss-docs-md-content .bfx-oss-docs-empty:first-child + h6,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + h1,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + h2,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + h3,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + h4,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + hh5,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + h6,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + h1,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + h2,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + h3,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + h4,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + hh5,
.bfx-oss-docs-md-content #bfx-oss-docs-api-docs-index + .bfx-oss-docs-empty + h6 {
  margin-top: 0 !important;
}
.bfx-oss-docs-md-content h1:first-child,
.bfx-oss-docs-md-content h2:first-child,
.bfx-oss-docs-md-content h3:first-child,
.bfx-oss-docs-md-content h4:first-child,
.bfx-oss-docs-md-content h5:first-child,
.bfx-oss-docs-md-content h6:first-child {
  margin-top: 0 !important;
}

.bfx-oss-docs-md-callout {
  margin: 32px 0 0 0;
  max-width: 700px;
  display: flex;
  flex-direction: row;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32px;
  margin-right: 16px;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__marker > p {
  margin: 0;
  text-align: center;
  font-size: 32px !important;
  opacity: 0.7;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__content {
  flex: 1;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__header {
  color: #333;
  background: #ccc;
  display: flex;
  flex-direction: row;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__header > * {
  line-height: 24px;
  padding: 4px 0;
  margin: 0;
  padding-left: 16px;
  padding-right: 16px;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__header p {
  background: rgba(0, 0, 0, 0.5);
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__header h4 {
  opacity: 0.6;
  font-family: "Cabin", sans-serif;
  font-weight: normal;
  text-align: right;
  text-transform: uppercase;
  width: 100%;
  flex: 1;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__body {
  background: #fafafa;
  padding: 16px;
}
.bfx-oss-docs-md-callout .bfx-oss-docs-md-callout__body p {
  margin: 0;
}
.bfx-oss-docs-md-callout.info .bfx-oss-docs-md-callout__header {
  color: #fff;
  background: #5792ff;
}
.bfx-oss-docs-md-callout.info .bfx-oss-docs-md-callout__body {
  background: #e1ecff;
}
.bfx-oss-docs-md-callout.success .bfx-oss-docs-md-callout__header {
  color: #fff;
  background: #01b321;
}
.bfx-oss-docs-md-callout.success .bfx-oss-docs-md-callout__body {
  background: #c7ffd1;
}
.bfx-oss-docs-md-callout.warning .bfx-oss-docs-md-callout__header {
  color: #fff;
  background: #ffa657;
}
.bfx-oss-docs-md-callout.warning .bfx-oss-docs-md-callout__body {
  background: #ffe2c8;
}
.bfx-oss-docs-md-callout.danger .bfx-oss-docs-md-callout__header {
  color: #fff;
  background: #ff5757;
}
.bfx-oss-docs-md-callout.danger .bfx-oss-docs-md-callout__body {
  background: #ffc3c3;
}

.bfx-oss-docs-md-content details > summary:first-of-type {
  list-style-type: none;
}
.bfx-oss-docs-md-content ::-webkit-details-marker {
  display: none;
}
.bfx-oss-docs-md-content summary {
  outline: none;
  user-select: none;
  cursor: pointer;
}
.bfx-oss-docs-md-content details > summary .details-marker {
  margin-right: 8px;
}
.bfx-oss-docs-md-content details > summary .details-marker::before {
  content: "►";
}
.bfx-oss-docs-md-content details[open] > summary .details-marker::before {
  content: "▼";
}
.bfx-oss-docs-md-content details > *:not(summary) {
  padding-left: 8px;
}

.bfx-oss-docs-md-content ol {
  list-style-type: decimal;
}
.bfx-oss-docs-md-content ol, .bfx-oss-docs-md-content ul ul {
  margin-left: 16px;
}
.bfx-oss-docs-md-content > ol, .bfx-oss-docs-md-content > ul {
  margin-top: 8px;
  margin-bottom: 8px;
}
.bfx-oss-docs-md-content > ul {
  list-style-type: disc;
  margin: 0 0 0 16px;
}
.bfx-oss-docs-md-content .contains-task-list {
  margin-bottom: 32px;
}
.bfx-oss-docs-md-content .contains-task-list li {
  margin-bottom: 8px;
}
.bfx-oss-docs-md-content .contains-task-list li:last-child {
  margin-bottom: 0;
}
.bfx-oss-docs-md-content hr {
  margin: 64px 0 32px 0;
  border-color: #00401e;
}
.bfx-oss-docs-md-content p {
  max-width: 80%;
  font-size: 16px;
  line-height: 1.5;
  margin: 8px 0;
}
.bfx-oss-docs-md-content p.bfx-oss-docs-empty {
  margin: 0;
}
.bfx-oss-docs-md-content p > img {
  max-width: 100%;
}
.bfx-oss-docs-md-content > p > code, .bfx-oss-docs-md-content li > code, .bfx-oss-docs-md-content a > code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 14px;
  padding: 0 4px;
  background: rgba(0, 0, 0, 0.05);
}
.bfx-oss-docs-md-content blockquote {
  border-left: 4px solid #ccc;
  margin: 0 0 0 16px;
  padding-left: 8px;
}
.bfx-oss-docs-md-content blockquote blockquote {
  margin-left: 8px;
}

/*# sourceMappingURL=index.css.map */