{% extends 'layouts/bfx_base.njk' %}
{% from 'macros/widgets/api_ref_sample_viewer.njk' import apiRefSampleViewer %}

{% block page_title %}
API Reference
{% endblock %}

{% block sidebar %}
<div
  class="bfx-oss-docs-side-bar__sub-menu"
  id="bfx-oss-docs-side-bar__api-reference-menu"
>
  <h6>API Reference</h6>
  <ul>
    <li class="bfx-oss-docs-side-bar__sub-menu-subtitle">
      <p>
        WebSocket v2
      </p>
    </li>

    {% for id, document in documents %}
    <li>
      <a href="#">{{ document.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="bfx-oss-docs-api-reference">
  {% for id, document in documents %}
  <div class="bfx-oss-docs-api-reference-document">
    <div class="bfx-oss-docs-api-reference-document__content">
      <div class="bfx-oss-docs-api-reference-document__header">
        <h2>{{ document.title }}</h2>
        <p>{{ document.subtitle }}</p>
      </div>

      <div class="bfx-oss-docs-api-reference-document__wrapper bfx-oss-docs-code-wrapper">
        {{ document.html | safe }}
      </div>
    </div>
    <div class="bfx-oss-docs-api-reference-document__sidebar">
      {{ apiRefSampleViewer(document.samples, id) }}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/api_ref_sample_viewer.js"></script>
{% endblock %}
