{% extends 'layouts/base.njk' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/index.css" />
  <link rel="stylesheet" type="text/css" href="/css/highlightjs/ir-black.css" />
{% endblock %}

{% block body %}
<div id="bfx-oss-docs-side-bar">
  <img
    id="bfx-oss-docs-side-bar__header"
    src="/img/bfx-logo-bg-white.png"
    alt="Bitfinex"
    height="64"
  />

  <ul id="bfx-oss-docs-side-bar__main-menu">
    {% for entry in menuData %}
    <li>
      <a href="/{{ entry.href }}">{{ entry.label }}</a>
    </li>
    {% endfor %}
  </ul>

  {% block sidebar %}{% endblock %}
</div>

<div id="bfx-oss-docs-content">
  <div id="bfx-oss-docs-header-bar">
    <h2>Documentation</h2>
    <h2>
      {% block page_title %}{% endblock %}
    </h2>
  </div>

  {% block content %}{% endblock %}

  <div id="bfx-oss-docs-footer-bar">
    <div id="bfx-oss-docs-footer-bar__container">
      <p>Copyright © 2013-2020 iFinex Inc. All rights reserved.</p>
    </div>
  </div>
</div>


<script type="text/javascript" src="/js/vendor/zepto.min.js"></script>
<script type="text/javascript" src="/js/vendor/lodash.min.js"></script>
<script type="text/javascript" src="/js/vendor/debug.min.js"></script>
<script type="text/javascript" src="/js/debug_init.js"></script>
{% block scripts %}{% endblock %}
{% endblock %}
