{# TODO: Rename classes, was initially written for API docs only #}
{% extends 'layouts/bfx_base.njk' %}
{% from 'macros/widgets/api_ref_sample_viewer.njk' import apiRefSampleViewer %}

{% block page_title %}
{{ title }}
{% endblock %}

{% block sidebar %}
<div
  class="bfx-oss-docs-side-bar__sub-menu"
  id="bfx-oss-docs-side-bar__api-reference-menu"
>
  <h6>{{ title }}</h6>
  <ul>
    <li class="bfx-oss-docs-side-bar__sub-menu-subtitle">
      <p>
        SUBTITLE_TODO
      </p>
    </li>

    {% for id, page in pages %}
    <li>
      <a href="{{ filename }}#bfx-oss-docs-pgi-{{ id }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div id="bfx-oss-docs-api-reference">
  {% for id, page in pages %}
  <div id="bfx-oss-docs-pgi-{{ id }}" class="bfx-oss-docs-api-reference-document">
    <div class="bfx-oss-docs-api-reference-document__content bfx-oss-docs-content-wrapper">
      <div class="bfx-oss-docs-api-reference-document__header bfx-oss-docs-md-content">
        <h2>{{ page.title }}</h2>
        <p>{{ page.subtitle }}</p>
      </div>

      <div class="bfx-oss-docs-code-wrapper bfx-oss-docs-md-content">
        {{ page.html | safe }}
      </div>
    </div>

    <div class="bfx-oss-docs-api-reference-document__sidebar">
      {% if page.samples %}
      {{ apiRefSampleViewer(page.samples, id) }}
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% if page.samples %}
{% block scripts %}
<script type="text/javascript" src="js/api_ref_sample_viewer.js"></script>
{% endblock %}
{% endif %}
