{% extends 'layouts/bfx_base.njk' %}

{% block page_title %}
{{ data.title }}
{% endblock %}

{% block content %}
<div class='bfx-oss-docs-content-wrapper'>
  <div class="bfx-oss-docs-md-content bfx-oss-docs-code-wrapper">
    {{ html | safe }}
  </div>
</div>
{% endblock %}
